<html lang="pl">

<head>
	<meta charset="utf-8" />
	<title>Inteligentny dom</title>
	<meta http-equiv="X-UA-Compatibile" content="IE=edge,chrome=1" />
	<script src="../static/js/jquery-3.2.1.min.js"></script>
	<script src="../static/js/button.js"></script>
    <script src="../static/js/slider.js"></script>
    <script src="../static/js/overall.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/fontello/css/fontello.css"/>

</head>
<body>
    <div id="container">
        <button type="button" id="reload" onclick="reload()"><i class="icon-spin3"></i></button>
    </div>
</body>

</html>
